

$font-roboto:'Roboto';
$font-roboto-light:'Roboto Light';
$font-roboto-bold:'Roboto Bold';

$font-default:'Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif';

$base-font:$font-roboto;
$base-font-size: 15px;
$base-background: #ffffff;
$base-text-color: #333333;
$base-border-color: #00aaac;
$base-color-primary:#007ebb;
$base-color-hover:#007ebb;

$color-blue:007ebb;
$color-red:red;

/* --- mmenu --- */
$mm-menu-background:#007ebb;
$mm-menu-fontSize:15px;
$mm-menu-textColor:#fff;
$mm-menu-borderColor:rgba(255,255,255,0.5);


